USE [master]
GO
/****** Object:  Database [url-short]    Script Date: 10.08.2025 17:41:41 ******/
CREATE DATABASE [url-short]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'url-short', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\url-short.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'url-short_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\url-short_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [url-short].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [url-short]
GO
/****** Object:  Table [dbo].[urls]    Script Date: 10.08.2025 17:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urls](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Original_URL] [varchar](max) NULL,
	[Short_URL] [varchar](max) NULL,
 CONSTRAINT [PK_urls] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
